
h1{
color: white;
text-align: center;
}

.register{
border: solid #f197c1;
height: 100%;
text-align: center;
border-radius: 25px;
background: linear-gradient(#ffb6d8, #50ffff);
padding: 20px;
width: 200px;
height: 150px;
}

.TodoItem{
    border: solid #f197c1;
    background: rgb(255, 213, 229);
    margin-top: 1%;
    border-style: outset;
}

html{
    background: linear-gradient(#ffb6d8, #50ffff);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}
.btn{
    border: solid #f197c1;
    background: rgb(255, 181, 249);
    color: white;
    border-style: outset;
    margin-left: 3px;
}
.createTodo{
    border: solid #f197c1;
    border-style: outset;
    background: rgb(140, 251, 255);
    
    text-align: center;
}